@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$border: #f66696;
$base: #f3f3f3;
$shadow: 0 5px 20px
  rgba(
    $color: #000000,
    $alpha: 0.4,
  );
$font-stack: Arial, Helvetica, sans-serif;
$font-logo: "Lobster", cursive;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: $base;
  font-family: $font-stack;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-family: $font-logo;
  font-size: 3em;
  color: $border;
  -webkit-text-stroke: 0.1px #555;
}

.app {
  background-color: #fff;
  min-width: 520px;
  width: 70%;
  border: 4px solid $border;
  border-radius: 1rem;
  padding: 0.8rem;

  box-shadow: $shadow;
}

#item-form {
  display: flex;
  flex-direction: column;

  input {
    min-width: none;
    max-width: 50ch;
    height: 1.6rem;
    border: 2px silver solid;
    border-radius: 1em;
    padding-left: 0.5em;
  }

  .submit {
    width: 50%;
    height: 30px;
    margin: 1.6em 0;
    border-radius: 1em;
    border: 2px silver solid;
  }

  .submit:hover {
    border-color: $border;
  }
}

.list-header {
  width: 100%;
  border-collapse: collapse;

  th {
    border-bottom: $border solid 1px;
  }

  td {
    text-align: center;
    padding: 0.2em 0;
  }
}

.shop-total {
  padding: 0.2em 0;
  border-top: 1px solid $border;

  button {
    width: 50%;
    height: 30px;
    margin: 1.6em 0;
    border-radius: 1em;
    border: 2px silver solid;
  }

  button:hover {
    border-color: $border;
  }
}

.item-btn {
  width: 3ch;
  height: 3ch;
  border: 2px silver solid;
  border-radius: 50%;
  margin: 0 0.125rem;
}

.add:hover {
  background-color: #7cff25;
}
.minus:hover {
  background-color: #ffc425;
}
.delete:hover {
  background-color: #ff6666;
}
